body {
  font-family: 'Playfair Display', serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInFromTop {
  animation: fadeInFromTop 1.5s ease-in-out;
}

body {
  font-family: 'Playfair Display', serif;
}

.card:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInFromBottom {
  animation: fadeInFromBottom 1.5s ease-in-out;
}

.fade-in-right {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hover-golden:hover {
  color: #FFD700;
  /* Golden color */
}


/* Define the fade-in animation */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apply the fade-in animation to the main element */
#main-content {
  animation: fadein 1.5s ease-in-out;
  /* Adjust the duration and timing function as needed */
}


